.input-wrapper{


.label{
    font-size: 16px;
    color: rgb(78, 75, 75);
    margin: 0px;
    margin-bottom: 6px;
}

.input{
    border: 1px solid gray;
    border-radius: 8px;
    padding: 12px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}
}
