.button{
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background-color: rgba(103, 81, 226, 0.815);
    color: rgb(239, 255, 255);
    border-radius: 8px;
    box-sizing: border-box;
    border: none;
    text-transform: uppercase;
}
.button:hover{
    filter: brightness(90%);
}